@layer components {
  .news-list {
    container-type: inline-size;
    list-style: none;
    padding: 0;
    margin: 0 0 var(--space-l);
  }

  @media (min-width: 600px) {
    .news-list {
      padding: 0 var(--space-s);
    }
  }

  .news-list-item {
    container-type: inline-size;
    display: grid;
    grid-template-columns: 4ch 1fr max-content;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: var(--space-s);
  }

  @container (max-width: 600px) {
    .news-list-item {
      grid-template-columns: 4ch 1fr;
      align-items: start;
      border-top: 1px solid var(--color-gray-200);
      padding-right: var(--space-m);
    }

    .news-list-item > div:has(.news-list-item__link) {
      display: none;
    }
  }

  @container (min-width: 600px) {
    .news-list-item {
      border-radius: 4px;
      margin-bottom: var(--space-xs);
      box-shadow: var(--box-shadow-s);
      transition: box-shadow 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  .news-list-item:focus-within {
    box-shadow: 0 0 0 4px rgba(151, 56, 253, 0.18);
  }

  .news-list-item__index {
    font-weight: 600;
    color: var(--color-gray-600);
  }

  .news-list-item__title {
    margin: 0 0 0.3em;
  }

  .news-list-item__title a {
    color: var(--color-gray-900);
    text-decoration: none;
    overflow-wrap: anywhere;
  }

  .news-list-item__title a:hover {
    text-decoration: underline;
  }

  .news-list-item__meta {
    display: flex;
    align-items: center;
    gap: 0.75em;
    color: var(--color-gray-600);
    font-size: var(--step--2);
  }

  .news-list-item__meta > span:not(:last-child)::after {
    content: "";
    display: inline-block;
    transform: translateY(-50%);
    margin-left: 0.75em;
    width: 4px;
    height: 4px;
    background-color: var(--color-gray-300);
    border-radius: 50%;
  }

  @container (max-width: 600px) {
    .news-list-item__meta {
      flex-wrap: wrap;
      margin-top: var(--space-xs);
      gap: 0.5em;
    }

    .news-list-item__meta > span,
    .news-list-item__meta > a {
      flex-basis: 40%;
    }

    .news-list-item__meta > span:not(:last-child)::after {
      display: none;
    }
  }
}
