@layer utilities {
  .f-step--3 {
    font-size: var(--step--3);
  }

  .f-step--2 {
    font-size: var(--step--2);
  }

  .f-step--1 {
    font-size: var(--step--1);
  }

  .f-step-0 {
    font-size: var(--step-0);
  }

  .f-step-1 {
    font-size: var(--step-1);
  }

  .f-step-2 {
    font-size: var(--step-3);
  }

  .f-step-3 {
    font-size: var(--step-3);
  }

  .f-step-4 {
    font-size: var(--step-4);
  }

  .f-step-5 {
    font-size: var(--step-5);
  }

  .f-normal {
    font-weight: 400;
  }

  .f-semi-bold {
    font-weight: 600;
  }

  .f-bold {
    font-weight: 800;
  }

  .mt-none {
    margin-top: 0;
  }

  .mt-xs {
    margin-top: var(--space-xs);
  }

  .mt-s {
    margin-top: var(--space-s);
  }

  .mt-m {
    margin-top: var(--space-m);
  }

  .mt-l {
    margin-top: var(--space-l);
  }

  .mt-xl {
    margin-top: var(--space-xl);
  }

  .mt-2xl {
    margin-top: var(--space-2xl);
  }

  .mb-none {
    margin-bottom: 0;
  }

  .mb-xs {
    margin-bottom: var(--space-xs);
  }

  .mb-s {
    margin-bottom: var(--space-s);
  }

  .mb-m {
    margin-bottom: var(--space-m);
  }

  .mb-l {
    margin-bottom: var(--space-l);
  }

  .mb-xl {
    margin-bottom: var(--space-xl);
  }

  .mb-2xl {
    margin-bottom: var(--space-2xl);
  }

  .pt-l {
    padding-top: var(--space-l);
  }

  .pv-l {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
  }

  .ph-m {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }

  .u-center {
    display: flex;
    justify-content: center;
  }

  .text-primary {
    color: var(--color-primary-400);
  }

  .text-gray {
    color: var(--color-gray-700);
  }

  .u-bg-white {
    background-color: #fff;
  }
}
